{% extends parent_template|default:'blog/base_blog.html' %}
{% load left_sidebar_blog %}

{% load static %}


{% block left_sidebar %}
<!--	here should implement a sidebar for blog app			-->
		{% block left_sidebar_blog %}
					{% left_sidebar_blog %}
		{% endblock left_sidebar_blog %}

<!--	here should implement a sidebar for blog app			-->
{% endblock %}


{% block blog_content %}
<!------------------ extends loading base_blog html  ----------------------->
<div class="right-side">
	<div class="post-view">
		<div class="post-container">
			<div class="post-info flex-row">
				<div class="post-date">
					<p class="text-color-greydark text-xl text-align-center">{{ post.pub_date|date:'d'}}</p>
					<p class="text-color-greydark text-ms text-align-center">{{ post.pub_date|date:'F'}}</p>
					<p class="text-color-greydark text-ms text-align-center">{{ post.pub_date|date:'Y'}}</p>
				</div>
				<div class="post-title">
					<p class="text-color-greydark text-md-xl mg-bt-1">{{ post.title }}</p>
					<p class="text-color-greydark text-sm-bold">written by {{ post.user.userprofile.username }}</p>
				</div>
				<div class="post-social-media flex-column">
						<a href="#" class="social-media-links text-sm-bold text-color-greydark">Facebook<i class="fab fa-facebook-f social-media-icon"></i></a>
						<a href="#" class="social-media-links text-sm-bold text-color-greydark">Twitter<i class="fab fa-twitter social-media-icon"></i></a>
						<a href="#" class="social-media-links text-sm-bold text-color-greydark">Youtube<i class="fab fa-youtube social-media-icon"></i></a>
						<a href="#" class="social-media-links text-sm-bold text-color-greydark">Instagram<i class="fab fa-instagram social-media-icon"></i></a>
				</div>
				
			</div>
			<img class='post-picture' src="{{ post.picture.url }}">
			<div class="post-content">
				<p class="text-color-greydark text-ms spaced-lines-12"> {{ post.content }}</p>
			</div>
			<div class="post-detail">
				<p  class="text-sm post-thumbnails text-color-greydark"><i class="fas fa-comment-alt text-color-red"></i>  {{ post.number_comments }} comments </p>
				<p  class="text-sm post-thumbnails text-color-greydark"><i class="far fa-clock text-color-red"></i> {{ post.last_updated|date:'d F Y - h:i A'}}  </p>
				<p class="text-sm post-thumbnails text-color-greydark"><i class="fas fa-thumbs-up text-color-red"></i> <span id="like-count"> {{ post.number_likes }}</span>  </p>
				<p  class="text-sm post-thumbnails text-color-greydark"><i class="fas fa-tags text-color-red"></i> {{ post.tags.all.count }} tags  </p>
				<div class="flex-row">
						{% for tag in post.tags.all %}
						<a href="" class="btn-small mg-lt-05">{{ tag.name }}</a>
						{% endfor %}
				</div>
				<div class="action-post">
					<button class="btn-small mg-lt-05"  id='like-button' value="{{ post.id }}">LIKE</button>
					<button class="btn-small mg-lt-05"  id='wish-button' value="{{ post.id }}">READ LATER</button>
				</div>
				

			</div>
		</div>
		{% if update_comment_form %}
			<div class="comment">
				<div class="comment-container">
					<div class="author-info">
						<img class="auth-picture" src="{% static 'images/default_prof_pic.jpg' %}">
					</div>
					<div class="comment-info">
						<div class="comment-info-flex">
							<p class="text-color-grey text-sm">update your comment</p>
							<p class="text-color-grey text-sm">{% now "d F Y - H:i A" %} </p>
						</div>
						<form method="POST" action="{{ comment.action_url}}">
							{% csrf_token %}
							{{ update_comment_form.content }}
							<input type="hidden" name="perform" value="update">
							<input type="submit" class="small-btn post-comment" value="UPDATE">
						</form>
						
					</div>
				
				</div>
			</div>
		{% endif %}
		
		<div class="comment-wraper">
		{% for comment in comments %}
			<div class="comment" id="{{comment.id}}">
				<div class="comment-container">
					<div class="author-info">
						<img class="auth-picture" src="{{ comment.user.userprofile.picture.url }}">
					</div>
					<div class="comment-info">
						<div class="comment-info-flex">
							<div class="flex-row">
								<p class="text-color-grey text-sm">{{ comment.user.userprofile.username }}</p>
								<p class="text-ss text-color-grey mg-lt-1">on {{ comment.pub_date|date:'d F Y - h:i A'}}</p>
							</div>
							
							<p class="text-color-grey text-sm">{{ comment.time_since }} </p>
							
						</div>
						<p class="text-color-greydark text-sm-bold mg-tp-05">{{ comment.content|rjust:"10" }} </p>
					</div>
				
				</div>
				<div class="comment-actions">
					{% if user.is_authenticated %}
						{% if comment.user == request.user %}
							<button  type="submit" class="small-btn update-delete" name="delete" value="{{ comment.id }}"><i class="fas fa-trash" ></i> </button>
							<button  type="submit" class="small-btn update-delete" name="update" value="{{ comment.id }}"> <i class="far fa-edit"></i> </button>
						{% else %}
							<button  type="submit" class="small-btn" name="update"  value="{{ comment.id }}"> <i class="fas fa-exclamation-circle"></i> </button>
							<button  type="submit" class="small-btn " name="update" value="{{ comment.id }}"> <i class="fas fa-thumbs-up"></i> </button>
						{% endif %}
					{% endif %}
				</div>
			
			</div>

		{% endfor %}
		</div>
		
		{% if user.is_authenticated %}
			<div class="comment">
				<div class="comment-container">
					<div class="author-info">
						<img class="auth-picture" src="{{ user.userprofile.picture.url }}">
					</div>
					<div class="comment-info">
						<div class="comment-info-flex">
							<p class="text-color-grey text-sm">post a new comment</p>
							<p class="text-color-grey text-sm">{% now "d F Y - H:i A" %} </p>
						</div>
						<textarea id="new-comment" class="comment-input" placeholder="write a comment" maxlength="500" required name="comment-detail" rows="3"></textarea>
						<input id="save-comment"  type="submit" class="small-btn post-comment" value="POST">
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	
	
	
	<div class="author-view">
		<div class="author-profile-container">
			<img class="" src="{{ post.user.userprofile.picture.url }}">
			<p class="mg-tp-2 text-color-greydark text-sm-bold"> Author description: </p>
			<p class="mg-tp-05 text-color-greydark text-sm spaced-lines-12"> {{ post.user.userprofile.description }} </p>
			<p class="mg-tp-2 text-color-greydark text-sm-bold"> Featured posts</p>
			<hr class="line mg-tp-05">
			{% if post.get_related != 'None' %}
				{% for post in post.get_related %}
				<a href="{{ post.get_absolute_url }}" class="mg-tp-05 text-color-greydark text-sm"><i class="fas fa-chevron-right  mg-rt-05"></i> {{ post.title }}</a>
				{% endfor %}
			{% else %}
				<a href="" class="mg-tp-05 text-color-greydark text-sm"><i class="fas fa-chevron-right  mg-rt-05"></i> No related posts to show</a>
			{% endif %}

			<hr class="line mg-tp-05">
			<div class="flex-row mg-tp-05">
                    <a href="#" class="social-media-links text-sm-bold text-color-greydark mg-rt-05"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-media-links text-sm-bold text-color-greydark mg-rt-05"><i class="fab fa-twitter "></i></a>
                    <a href="#" class="social-media-links text-sm-bold text-color-greydark mg-rt-05"><i class="fab fa-youtube "></i></a>
                    <a href="#" class="social-media-links text-sm-bold text-color-greydark"><i class="fab fa-instagram "></i></a>
			 </div>
		</div>
	</div>
	<script>
		$(document).on('click', '#like-button', function (e) {
		e.preventDefault();
		$.ajax({
		type: 'POST',
		url: '{% url "pages:blog:post_review" %}',
		data: {
			postid: $('#like-button').val(),
			csrfmiddlewaretoken: '{{ csrf_token }}',
			action: 'post',
			type : 'like',
		},
		success: function (json) {
			document.getElementById("like-count").innerHTML = json['like_count'],
			document.getElementById("like-button").innerHTML = json['status']
		},
		error: function (xhr, errmsg, err) {

		}
		});
	})
	
	$(document).on('click', '#wish-button', function (e) {
		e.preventDefault();
		$.ajax({
		type: 'POST',
		url: '{% url "pages:blog:post_review" %}',
		data: {
			postid: $('#wish-button').val(),
			csrfmiddlewaretoken: '{{ csrf_token }}',
			action: 'post',
			type : 'wish',
		},
		success: function (json) {
			document.getElementById("wish-button").innerHTML = json['status']
		},
		error: function (xhr, errmsg, err) {

		}
		});
	})
	
	
	$(document).ready(function(){
		$('.update-delete').on('click', function(){
			var _commentid=$(this).attr('value');
			var _action=$(this).attr('name');
			if (confirm('Are you sure you want to ' +_action+ ' this comment?')==true){
				$.ajax({
					url:'{% url "pages:blog:comment_action" %}',
					type: "post",
					data: {commentid:_commentid,
						csrfmiddlewaretoken: '{{ csrf_token }}',
						action: _action
					},
					dataType:"json",
					success:function(response){
						if(response.status=='delete'){
							$("div").remove("#"+_commentid);
						}
						if(response.status=='update'){
							var  html = '<div class="comment update" id="'+response.comment_id+'">\
											<div class="comment-container">\
												<div class="author-info">\
													<img class="auth-picture" src='+response.user_pic+'>\
												</div>\
											<div class="comment-info">\
												<div class="comment-info-flex">\
													<p class="text-color-grey text-sm"><strong>Update comment<strong></p>\
													<p class="text-color-grey text-sm">now </p>\
												</div>\
												<textarea id="new-comment" class="comment-input"  maxlength="500" required name="comment-detail" rows="3">'+response.content+'</textarea>\
												<button id="update-comment" type="submit" class="small-btn post-comment" value="UPDATE">UPDATE</button>\
											</div>\
											</div>\
										</div> ';
										$('.comment-wraper').prepend(html);	
									}		
						}
					
				})			
			}
		});
		
	});
	
	$(document).on('click', '#update-comment', function (e) {
		e.preventDefault();
		var comment_id = $("div[class='comment update']").attr("id");
		var new_content= $("textarea[id='new-comment']").val();
		console.log(comment_id, new_content);
		$.ajax({
			url:'{% url "pages:blog:comment_action" %}',
				type:"post",
				data : {commentid: comment_id,
						new_content: new_content,
						action:"save_updated_comment",
						csrfmiddlewaretoken:"{{csrf_token}}"
	
				},
				dataType: "json",
				success:function(response){
					if(response.status==true){
						location.reload();
					}
					
				}
		})
	})
	
	$(document).ready(function(){
		$('#save-comment').on('click', function(){
			var _comment = $('#new-comment').val();
			var _postid = {{ post.id }};
			console.log(_comment, _postid);
			$.ajax({
				url:'{% url "pages:blog:comment_action" %}',
				type:"post",
				data : {postid: _postid,
						content: _comment,
						csrfmiddlewaretoken:"{{csrf_token}}"
				},
				dataType: "json",
				success:function(response){
					if(response.status==true){
						$('#new-comment').val('');
						var _html= '<div class="comment animate__animated animate__bounce">\
				<div class="comment-container ">\
					<div class="author-info">\
						<img class="auth-picture" src='+response.user_pic+'>\
					</div>\
					<div class="comment-info">\
						<div class="comment-info-flex">\
							<div class="flex-row">\
								<p class="text-color-grey text-sm">'+response.username+'</p>\
								<p class="text-ss text-color-grey mg-lt-1">just now</p>\
							</div>\
							<p class="text-color-grey text-sm">{{ comment.time_since }} </p>\
						</div>\
						<p class="text-color-greydark text-sm-bold mg-tp-05">'+response.content+' </p>\
					</div>\
				</div>\
				<div class="comment-actions">\
					<button  type="submit" class="small-btn update-delete" name="delete" value="{{ comment.id }}"><i class="fas fa-trash" ></i> </button>\
					<button  type="submit" class="small-btn update-delete" name="update" value="{{ comment.id }}"> <i class="far fa-edit"></i> </button>\
				</div>';
				
				$('.comment-wraper').append(_html);
			}
				}
			});
		});
		
	});
	
	
	
	</script>
	
	
	
</div>
<!------------------ ending  loading base_blog html  ----------------------->
{% endblock %}