<form  method="POST" action="{{ post.get_review_url }}">
	{% csrf_token %}
	<div class="flex-row">
		<input type="hidden">
		{% if liked_it == 'true' %}
			<button type="submit" class="small-btn" name="action" value="like"><i class="fas fa-thumbs-up text-color-white"></i> unlike </button>
		{% else %}
			<button type="submit" class="small-btn" name="action" value="like"><i class="fas fa-thumbs-up text-color-white"></i> like  </button>
		{% endif %}
		
		{% if wished_it == 'true' %}
			<button type="submit" class="small-btn" name="action" value="wishlist"><i class="far fa-heart text-color-white "></i> remove wishlist </button>
		{% else %}
			<button type="submit" class="small-btn" name="action" value="wishlist"><i class="far fa-heart text-color-white "></i> add wishlist </button>
		{% endif %}
	
	</div>
</form>